{% extends 'base.html' %}


{% block head %}

<title>pyGallery</title>

{% endblock %}


{% block body %}

<div class="content">
    <a href="/"><h1>pyGallery</h1></a>

    <table>
        <tr>
            <th>id</th>
            <th>picName</th>
            <th>tags</th>
            <th>dateUploaded</th>
            <!--<th>uploadedBy</th>-->
            <th>image</th>
        </tr>
        {% for pic in gallery %}
            <tr>
                <td>{{ pic.id }}</td>
                <td>{{ pic.picName }}</td>
                <td>{{ pic.tags }}</td>
                <td>{{ pic.dateUploaded.date() }}</td>
                <!--<td>{{ pic.uploadedBy }}</td>-->
                <td><a href="/image?id={{ pic.id }}"><img src="{{ url_for('static', filename='data/'+pic.picName)}}"></a></td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}