{% extends 'base.html' %}


{% block head %}

<title>pyGallery</title>

{% endblock %}


{% block body %}

<div class="content">
    <a href="/"><h1>pyGallery</h1></a>
    
    <a href="/image?id={{ pic.id-1 }}"><button>Previous</button></a>
    <a href="/image?id={{ pic.id+1 }}"><button>Next</button></a>
    
    <div class="center">
        <img src="{{ url_for('static', filename='data/'+pic.picName)}}">
    </div>

    <p>Tags: {{ pic.tags }}</p>
    <a href="/updateTags?id={{ pic.id }}"><button>Update Tags</button></a>
</div>

{% endblock %}
