{% extends 'base.html' %}


{% block head %}

<title>pyGallery</title>

{% endblock %}


{% block body %}

<div class="content">
    <a href="/"><h1>pyGallery</h1></a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
        <input type="file" name="photo">
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}